body {
  background: #dde9b7;
  margin: 0px;
}

.buttonStyle {
  font-family: Arial;
  font-size: 13px;
  padding: 0px 8px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-style: solid;
  border: 1px #ccc solid;
  background: #DDDDDD url(../images/button-bg.gif) repeat-x scroll left top;
}

.headingStyle {
  font-size: 28px;
  text-align: center;
  color: #333333;
  font-family: Arial;
  background: #dde9b7;
  height: 50px;
}

.menubarStyle {
  background: #e5ecf4;
  padding: 5px;
  border-top: 1px solid #aba899;
  border-bottom: 1px solid #aba899;
  text-align: right;
}

.mainTable {
  background: #ffffff;
  width: 90%;
  border: 1px solid #dde9b7;
}

.canvasStyle {
  width: 100%; 
  height:500px;
  border: 1px solid #999999;
}

.tableCanvasStyle {
  width: 100%;
  overflow-y: scroll;
  height: 500px;
}

.copyrightRow {
  font-size: 12px;
  text-align: center;
  font-family: Arial;
  background: #dde9b7;
  height: 30px;
  border-top: solid 1px #aba899;
}